/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body{
  font-family: "poppins", sans-serif;
}

h1, h2{
  font-family: "Roboto", sans-serif;
}

@layer utilities{
  .gradient{
    background: linear-gradient(-45deg, #302b63, #00bf8f ,#1cd8d2);
  }
}