<nav
  class="fixed top-0 left-0 w-full px-6 py-4 z-50 transition-transform duration-300 flex items-center justify-between"
  [class.translate-y-0]="visible"
  [class.-translate-y-full]="!visible"
>
  <!-- Logo -->
  <div class="flex items-center space-x-2">
    <img src="/pranjal_logo.png" alt="logo" class="w-8 h-8" />

    <div class="text-2xl font-bold text-white sm:block">Pranjal</div>
  </div>

  <div class="block lg:absolute lg:left-1/2 lg:transform lg:-tranlate-x-1/2">
    <button
      (click)="isMenuOpen = !isMenuOpen"
      class="text-white focus:outline-none text-3xl cursor-pointer"
      aria-label="open Menu"
    >
      <ng-icon name="featherMenu" size="28"></ng-icon>
    </button>
  </div>

  <div class="hidden lg:block">
    <a
      class="bg-linear-to-r from-pink-500 to to-blue-500 text-white py-2 px-5 rounded-full font-medium shadow-lg hover:opacity-90 transition-opacity duration-300"
      href="#contact"
    >
      Reach Out
    </a>
  </div>
</nav>

<!-- Overlay -->
<app-overlay-menu [isOpen]="isMenuOpen" (onClose)="isMenuOpen = false"></app-overlay-menu>
